<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tt.com.timetable"
    >
    <compatible-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
        android:resizeable="true">
        </compatible-screens>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="tt.com.timetable.Defaults"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFUALTS" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="tt.com.timetable.Caller"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CALLER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".comps.se.Main_A"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN_A" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".comps.se.Main_B"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN_B" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".comps.be.Main_A"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN_B" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".comps.be.Main_B"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN_B" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".comps.te.Main_A"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN_B" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".comps.te.Main_B"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN_B" />
            </intent-filter>
        </activity>

    </application>


</manifest>
